**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.vs
**/.vscode

**/bin
**/obj

**/TestResults
**/coverage
**/coverage.*

**/*.user
**/*.suo
**/*.rsuser

Dockerfile
docker-compose*.yml
README.md